// scrollbar
body {
  overflow: overlay;
}
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #34B2FF;
}
::-webkit-scrollbar-track {
  background: rgba($color: #074ece, $alpha: 0.0);
}
